.SquareBackground{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.RectangleBackground{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 560px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.Title{
    padding-top: 1%;
    padding-left: 6%;
    color: #8D8D8D;
    font-size: 200%;
}

.Chart{
    padding-left: 5%;
    height: 85%;
    width: 95%;
}