.DRForm{
    width: 300px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    overflow-x: hidden;
}

.DRForm-Title{
    width: 300px;
    height: 50px;
    position:relative;
}

.DRForm-Title-Name{
    height: 50px;
    color: rgb(25,157,237);
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.DRForm-Title-Cancel{
    height: 50px;
    width: 35px;
    border-radius: 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:0;
    
}
.DRForm-Title-Cancel-i
{
    font-size: 35px !important;
    line-height: 50px;
    color: grey;
}


.DRForm-Options{
    box-shadow: inset 0 20px 20px -20px #888888;
    width: 300px;
    height: 600px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.DRForm-Item{
    width: 250px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DRForm-Item-Name{
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: left;
}




.DRForm-Item-Lower{
    width: 250px;
    height: 30px;
}
.DRForm-Item-Input{
    padding-right:25px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    color:grey;
    border-color: rgb(25,157,237);
    border-style: solid;
}
.DRForm-Item-Unit{
    height: 30px;
    margin-left:-25px;
    font-size: 18px;
    color:grey;
    font-size: 14px;
}

.DRForm-Submit{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.DRForm-Submit-Name-Base{
    width: 270px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

.DRForm-Submit-Name-Default{
    color: White;
    background-color: rgb(25,157,237);
}

.DRForm-Submit-Name-Mouseover{
    color: white;
    background-color: rgb(20,100,150);
}

.DRForm-Submit-Name-Click{
    color: white;
    background-color: rgb(10,50,80);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
                                 
}

.DRForm-Image-Base{
    max-height:250px;
    width: 250px;
    height:auto;
    font-size: 18px;
    color: white;
    background-color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: center;
}

.DRForm-Image-i{
    font-size: 18px;
    color: white;
    background-color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: center;
    width:auto;
	max-width:100%;
	height:auto;
}


.DRForm-Note{
    width: 250px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.DRForm-Note-Lower{
    width: 250px;
    height: 180px;
}

.DRForm-Note-Input{
    padding-right:25px;
    width: 250px;
    height: 180px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 18px;
    color:black;
    border-color: rgb(25,157,237);
    border-style: solid;
}