.namecard-component .panel-default{
    background: white;
    width: 350px;
    height: 120px;
}

.namecard-component .panel-body{
    padding: 10px 20px 10px 20px;
}

.namecard-component .fa-user-circle-o{
    font-size: 35px !important;

    vertical-align: middle;
}

