.Login-main{
    width: 500px;
    height: 500px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border-top: 20px solid transparent;
    border-bottom: 50px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Login-text{
    
    width: 400px;
    height: 70px;
    bottom: 0;
    border-radius: 10px;
    /*background-color: lightcoral;*/
    text-align: center;
    border-top: 30px solid transparent;
    color: violet;
    
}

.Login-id{
    
    width: 400px;
    height: 70px;
    border-radius: 10px;
    /*background-color: lightblue;*/
    
}
.Login-id-input{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(0,0,0,0);
    outline: none;
    padding-left: 10px; 
}

.Login-id-logo{
    /*font-size: 35px !important;*/
    color: black;
}

.Login-password{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    /*background-color: khaki;*/
    
}

.Login-password-input{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: lightgoldenrodyellow;
    outline: none;
    padding-left: 10px; 
}

.Login-button{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    /*background-color: skyblue;*/
    
}

.Login-button-input{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    background-color: skyblue;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    padding-left: 10px; 
}