@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.login-container .container{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.login-component{
    background: linear-gradient(to bottom right, #78BCFF, #3333ff);
    height: 100vh;

    right: 0px !important;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.login-component .input-group {
    margin-top: 30px;
}

.login-component .login-group {
    margin-top: 30px;
}

.login-component .panel-default {
    padding: 20px 30px 30px 30px;
    background:white;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
}


.panel-default .panel-heading {
	background-color: white !important;
	border-color: white;
	text-align:center;
}
.panel-default .panel-heading a{
	/*text-decoration: none;*/
	color: #666;
	font-size: 15px;
	/*-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;*/
	transition: all 0.1s linear;
}
.panel-default .panel-heading a.select{
	color: #4881ea;
	font-size: 15px;
    font-weight: bold;
}
.panel-default .panel-heading hr{
	margin-top: 5px;
	margin-bottom: 0px;
	border: 0;
	height: 1px;
	/*background-image: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
}

.btn:focus {
  outline: none !important;
  /*background:#428bca !important;
  opacity: 0% !important;*/
}