.UpdatePForm{
    width: 300px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
}

.UpdatePForm-Title{
    width: 300px;
    height: 50px;
    position:relative;
    
}

.UpdatePForm-Title-Name{
    height: 50px;
    color: rgb(25,157,237);
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.UpdatePForm-Title-Cancel{
    height: 50px;
    width: 35px;
    border-radius: 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:0;
    
}
.UpdatePForm-Title-Cancel-i
{
    font-size: 35px !important;
    line-height: 50px;
    color: grey;
    cursor: pointer;
}


.UpdatePForm-Options{
    box-shadow: inset 0 20px 20px -20px #888888;
    width: 300px;
    height: 600px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.UpdatePForm-Item{
    width: 250px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UpdatePForm-Item-Name{
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: left;
}


.UpdatePForm-FixedItem{
    width: 250px;
    height: 20px;
    font-size: 18px;
    color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: left;
}

.UpdatePForm-Item-Lower{
    width: 250px;
    height: 30px;
}
.UpdatePForm-Item-Input{
    padding-right:25px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    color:grey;
    border-color: rgb(25,157,237);
    border-style: solid;
}
.UpdatePForm-Item-Unit{
    height: 30px;
    margin-left:-25px;
    font-size: 18px;
    color:grey;
    font-size: 14px;
}

.Birthday{
    padding-right:80px;
}
.BirthdayUnit{
    font-size: 12.7px;
    margin-left:-80px;
}

.UpdatePForm-IP{
    height: 100px;
}

.UpdatePForm-IP-Lower{
    height: 65px;
    width: 250px;
    border-radius: 10px;
    color: rgb(115, 115, 115);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.UpdatePForm-IP-Default{
    height: 60px;
    width: 75px;
    border-radius: 10px;
    color: white;
    background-color: rgb(115, 115, 115);
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}
.UpdatePForm-IP-Saved{
    color: white;
    background-color: rgb(25,157,237);

}

.UpdatePForm-Submit{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.UpdatePForm-Submit-Name-Base{
    cursor: pointer;
    width: 270px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

.UpdatePForm-Submit-Name-Default{
    color: White;
    background-color: rgb(25,157,237);
}

.UpdatePForm-Submit-Name-Mouseover{
    color: white;
    background-color: rgb(20,100,150);
}

.UpdatePForm-Submit-Name-Click{
    color: white;
    background-color: rgb(10,50,80);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
                                 
}


