.Dropzone-Wrapper
{
    height: 65px;
    width: 250px;
    border-radius: 10px;
    color: rgb(115, 115, 115);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.Dropzone-Default
{
    height: 60px;
    width: 245px;
    border-radius: 10px;
    color: rgb(115, 115, 115);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: dotted;
    border-color:  rgb(115, 115, 115);
    cursor: pointer;
}