.largeNameCard{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 2px 2px #888888;
}

.name-row{
    display: flex;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
    font-size: 150%;
}

.info-row{
    display: flex;
    flex-direction: row;
    padding: 1% 10% 1% 10%;
    font-size: 150%;
}

.icon-block{
    flex: 2;
}

.info-block{
    flex: 10;
}

.fa-user-circle-o{
    font-size: 240% !important;
    vertical-align: middle;
}

