.PatientOverview{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.info-cards-bg{
    flex: 1;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;  
}

.card{
    padding: 1%;
}

.PatientOverview-head{
    flex: 1;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
    /*height: 60px;*/
}
.PatientOverview-headcontents{
    /*height: 100%;*/
   padding-top: 2%;
   padding-bottom: 2%;
}
.PatientOverview-logo{
    flex-grow: 1;
    padding-right: 2%;
    /*align-self: flex-start;*/
}

.PatientOverview-search{
    flex-grow: 1;
    /*align-self: center;*/
    z-index: 0;
}

.PatientOverview-add{
    flex-grow: 1;
    padding-left: 1%
    /*align-self: flex-end;*/
}

.PatientOverview-form{
    position: fixed;
    top: 0px;
    padding-top: 5%;
    padding-left: 35%;
    padding-bottom: 10%;
    background-color: rgba(0,0,0,0.7) !important;

    visibility: hidden;
    /*display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-content: center !important;
    */
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.PatientOverview-form-pop{
    /*overflow: scroll;*/
    overflow: hidden;
    /*DIFFERENT HERE*/
}
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}