.SignupForm{
    width: 300px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
}

.SignupForm-Title{
    width: 300px;
    height: 50px;
}

.SignupForm-Title-Name{
    height: 50px;
    color: rgb(25,157,237);
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;

}

.SignupForm-Title-Cancel{
    height: 50px;
    width: 35px;
    border-radius: 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    right:0;
    
}
.SignupForm-Title-Cancel-i
{
    font-size: 35px !important;
    line-height: 50px;
    color: grey;
    cursor: pointer;
}


.SignupForm-Options{
    box-shadow: inset 0 20px 20px -20px #888888;
    width: 300px;
    height: 600px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SignupForm-Item{
    width: 250px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignupForm-Item-Name{
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: left;
}

.SignupForm-Item-Lower{
    width: 250px;
    height: 30px;
}
.SignupForm-Item-Input{
    padding-right:25px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    color:grey;
    border-color: rgb(25,157,237);
    border-style: solid;
}
.SignupForm-Item-Unit{
    height: 30px;
    margin-left:-25px;
    font-size: 18px;
    color:grey;
    font-size: 14px;
}

.Birthday{
    padding-right:80px;
}
.BirthdayUnit{
    height: 30px;
    font-size: 18px;
    color:grey;
    font-size: 12.7px;
    margin-left:-80px;
}

.SignupForm-Submit{
    
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.SignupForm-Submit-Name-Base{
    cursor: pointer;
    width: 270px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

.SignupForm-Submit-Name-Default{
    color: White;
    background-color: rgb(25,157,237);
}

.SignupForm-Submit-Name-Mouseover{
    color: white;
    background-color: rgb(20,100,150);
}

.SignupForm-Submit-Name-Click{
    color: white;
    background-color: rgb(10,50,80);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
            cursor: default;
                                 
}

.SignupForm-Sex{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignupForm-Sex-Name{
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: rgb(115, 115, 115);
    line-height: 30px;
    text-align: left;
}
.SignupForm-Sex-Lower{
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: rgb(115, 115, 115);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.SignupForm-Sex-Default{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    color: rgb(115, 115, 115);
        display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.SignupForm-Sex-Selected{

    border-style: solid;
    border-color: rgb(25,157,237);
}

.SignupForm-Sex-M-i{
    
    font-size: 50px !important;
    line-height: 50px;
}

.SignupForm-Sex-F-i{
    
    font-size: 50px !important;
    line-height: 50px;
}